.button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 12Pt;
    -fx-padding: 10px 0px;
    -fx-border-color: white;
    -fx-min-width: 200px;
}

.button:hover{
    -fx-background-color: black;
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 18Pt;
    -fx-pref-width: 150;

}

.turnLabel{
    -fx-text-fill: white;
    -fx-font-size: 20Pt;
    -fx-padding: 50px 0px;
    -fx-pref-width: 150;
}

.playerLabel{
    -fx-text-fill: white;
    -fx-font-size: 40Pt;
    -fx-min-width: 300;
}

.resultLabel {
    -fx-text-fill: white;
    -fx-font-size: 80Pt;
    -fx-padding: 14px 40px;
    -fx-border-color: black;
    -fx-pref-width: 800;
    -fx-padding: 0px 0px 0px 10px;
    -fx-alignment: center;

}

.root {
    -fx-background-image: url("../Backgrounds/smoke.jpg");
    -fx-background-size: stretch;

}