.trash{
    -fx-background-image: url('../Cards/trash.JPG');
}

.copper{
    -fx-background-image: url('../Cards/copper.JPG');
}

.silver {
    -fx-background-image: url('../Cards/silver.JPG');
}

.gold {
    -fx-background-image: url('../Cards/gold.JPG');
}

.province {
    -fx-background-image: url('../Cards/province.JPG');
}

.duchy {
    -fx-background-image: url('../Cards/duchy.JPG');
}

.estate {
    -fx-background-image: url('../Cards/estate.JPG');
}

.village {
    -fx-background-image: url('../Cards/village.JPG');
}

.fair{
    -fx-background-image: url('../Cards/fair.JPG');
}

.smithy{
    -fx-background-image: url('../Cards/smithy.JPG');
}

.market{
    -fx-background-image: url('../Cards/market.JPG');
}

.laboratory{
    -fx-background-image: url('../Cards/laboratory.JPG');
}

.lumberjack{
    -fx-background-image: url('../Cards/lumberjack.JPG');
}

.adventurer{
    -fx-background-image: url('../Cards/adventurer.JPG');
}

.moneylender{
    -fx-background-image: url('../Cards/moneylender.JPG');
}

.chancellor{
    -fx-background-image: url('../Cards/chancellor.JPG');
}

.magpie{
    -fx-background-image: url('../Cards/magpie.JPG');
}

.copperSmall{
    -fx-background-image: url('../Cards/copper_small.JPG');
}

.silverSmall {
    -fx-background-image: url('../Cards/silver_small.JPG');
}

.goldSmall {
    -fx-background-image: url('../Cards/gold_small.JPG');
}


.provinceSmall {
    -fx-background-image: url('../Cards/province_small.JPG');
}

.duchySmall {
    -fx-background-image: url('../Cards/duchy_small.JPG');
}

.estateSmall {
    -fx-background-image: url('../Cards/estate_small.JPG');
}

.villageSmall {
    -fx-background-image: url('../Cards/village_small.JPG');
}

.fairSmall{
    -fx-background-image: url('../Cards/fair_small.JPG');
}

.smithySmall{
    -fx-background-image: url('../Cards/smithy_small.JPG');
}

.marketSmall{
    -fx-background-image: url('../Cards/market_small.JPG');
}

.laboratorySmall{
    -fx-background-image: url('../Cards/laboratory_small.JPG');
}

.lumberjackSmall {
    -fx-background-image: url('../Cards/lumberjack_small.JPG');
}

.adventurerSmall{
    -fx-background-image: url('../Cards/adventurer_small.JPG');
}

.moneylenderSmall{
    -fx-background-image: url('../Cards/moneylender_small.JPG');
}

.chancellorSmall{
    -fx-background-image: url('../Cards/chancellor_small.JPG');
}

.magpieSmall{
    -fx-background-image: url('../Cards/magpie_small.JPG');
}

.back1{
    -fx-background-image: url('../Cards/back1.JPG');
}
.back2{
    -fx-background-image: url('../Cards/back2.JPG');
}

.invisible {
    visibility: hidden;
}