.copper{
    -fx-background-image: url('../Cards/copper_eng.JPG');
}

.silver {
    -fx-background-image: url('../Cards/silver_eng.JPG');
}

.gold {
    -fx-background-image: url('../Cards/gold_eng.JPG');
}

.province {
    -fx-background-image: url('../Cards/province_eng.JPG');
}

.duchy {
    -fx-background-image: url('../Cards/duchy_eng.JPG');
}

.estate {
    -fx-background-image: url('../Cards/estate_eng.JPG');
}

.village {
    -fx-background-image: url('../Cards/village_eng.JPG');
}

.fair{
    -fx-background-image: url('../Cards/fair_eng.JPG');
}

.smithy{
    -fx-background-image: url('../Cards/smithy_eng.JPG');
}

.market{
    -fx-background-image: url('../Cards/market_eng.JPG');
}

.laboratory{
    -fx-background-image: url('../Cards/laboratory_eng.JPG');
}

.lumberjack{
    -fx-background-image: url('../Cards/lumberjack_eng.JPG');
}

.adventurer{
    -fx-background-image: url('../Cards/adventurer_eng.JPG');
}

.moneylender{
    -fx-background-image: url('../Cards/moneylender_eng.JPG');
}

.chancellor{
    -fx-background-image: url('../Cards/chancellor_eng.JPG');
}

.magpie{
    -fx-background-image: url('../Cards/magpie_eng.JPG');
}

.copperSmall{
    -fx-background-image: url('../Cards/copper_small.JPG');
}

.silverSmall {
    -fx-background-image: url('../Cards/silver_small.JPG');
}

.goldSmall {
    -fx-background-image: url('../Cards/gold_small.JPG');
}


.provinceSmall {
    -fx-background-image: url('../Cards/province_small.JPG');
}

.duchySmall {
    -fx-background-image: url('../Cards/duchy_small.JPG');
}

.estateSmall {
    -fx-background-image: url('../Cards/estate_small.JPG');
}

.villageSmall {
    -fx-background-image: url('../Cards/village_small_eng.JPG');
}

.fairSmall{
    -fx-background-image: url('../Cards/fair_small_eng.JPG');
}

.smithySmall{
    -fx-background-image: url('../Cards/smithy_small_eng.JPG');
}

.marketSmall{
    -fx-background-image: url('../Cards/market_small_eng.JPG');
}

.laboratorySmall{
    -fx-background-image: url('../Cards/laboratory_small_eng.JPG');
}

.lumberjackSmall {
    -fx-background-image: url('../Cards/lumberjack_small_eng.JPG');
}

.adventurerSmall{
    -fx-background-image: url('../Cards/adventurer_small_eng.JPG');
}

.moneylenderSmall{
    -fx-background-image: url('../Cards/moneylender_small_eng.JPG');
}

.chancellorSmall{
    -fx-background-image: url('../Cards/chancellor_small_eng.JPG');
}

.magpieSmall{
    -fx-background-image: url('../Cards/magpie_small_eng.JPG');
}

.back1{
    -fx-background-image: url('../Cards/back1.JPG');
}
.back2{
    -fx-background-image: url('../Cards/back2.JPG');
}

.invisible {
    visibility: hidden;
}

