.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-background-insets: 1px;
    -fx-pref-width: 140;
}

.chatWindow{
    -fx-pref-height: 140;
}

.logWindow{
    -fx-pref-height: 270;
}

.chatButton {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 10Pt;
    -fx-padding: 0px 0px;
    -fx-border-color: black;
    -fx-pref-width: 50px;
    -fx-pref-height: 30px;
}

.chatButton:hover{
    -fx-background-color: black;
}

.text-field {
    -fx-font-size: 10Pt;
    -fx-border-color: black;
}

.buttonOnAction {
    -fx-effect: dropshadow(three-pass-box, #FFFF00, 30, 0, 0, 0);
}

.klickButton {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 10Pt;
    -fx-padding: 7px 0px 0px 0px;
    -fx-border-color: black;
    -fx-min-width: 140px;
}

.klickButton:hover{
    -fx-background-color: white;
}

.nameLabel {
    -fx-text-fill: black;
    -fx-font-size: 18Pt;
    -fx-padding: 14px 40px;
    -fx-border-color: black;
    -fx-pref-width: 130;
    -fx-padding: 0px 0px 0px 7px

}

.infoLabel {
    -fx-text-fill: black;
    -fx-font-size: 14Pt;
    -fx-padding: 10px 30px;
    -fx-border-color: black;
    -fx-pref-width: 225;
    -fx-padding: 0px 0px 0px 7px

}

.resourceLabel {
    -fx-text-fill: black;
    -fx-font-size: 10Pt;
    -fx-border-color: black;
    -fx-pref-width: 130;
    -fx-padding: 0px 0px 0px 7px

}

.noteText {
    -fx-max-width: 170px;
    -fx-max-height: 400px;
    -fx-border-color: black;
    -fx-text-fill: black;
    -fx-font-size: 10Pt;
    -fx-border-width: 2px;

}

.smallButton {
    -fx-min-width: 80;
    -fx-min-height: 80;
    -fx-border-width: 2px;
    -fx-background-size: stretch;
    -fx-background-color: black;
    -fx-padding: 0px 0px 62px 58px;
    -fx-text-fill: white;
    -fx-border-color: black;
    -fx-font-size: 7Pt;
    -fx-font-weight: 900;

}

.buttonOpacity{
    -fx-opacity: 0.5;
}

.bigButton{
    -fx-min-width: 140;
    -fx-min-height: 200;
    -fx-background-size: stretch;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-background-color: black;
}

.mediumButton{
    -fx-pref-width: 100;
    -fx-pref-height: 160;
    -fx-background-size: stretch;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-background-color: black;
}



.root {
    -fx-background-image: url("../Backgrounds/marmor_texture.jpg");
    -fx-background-size: stretch;

}

.musicButtonOn{
    -fx-background-image: url(../musicButton/sound.png);
    -fx-pref-height: 40px;
    -fx-pref-width: 40px;
    -fx-background-repeat: stretch;
}

.musicButtonOff{
    -fx-background-image: url(../musicButton/nosound.png);
    -fx-pref-height: 40px;
    -fx-pref-width: 40px;
    -fx-background-repeat: stretch;
}