
.button {
    -fx-background-color: #FFFFFF;
    -fx-font-size: 12Pt;
    -fx-padding: 14px 46px;
    -fx-border-color: #000000;
}

.userLabel {
    -fx-text-fill: #000000;
    -fx-font-size: 12Pt;

}
.chatWindow{
    -fx-text-fill: #000000;
    -fx-background-color: #FFFFFF;
    -fx-font-size: 12Pt;
    -fx-border-color: #000000;
    -fx-max-width: 400px;
    -fx-max-height: 400px;

}

.ipLabel {
    -fx-text-fill: #000000;
    -fx-font-size: 36Pt;
    -fx-padding: 20px 36px;


}

.text-field {
    -fx-font-size: 12Pt;
    -fx-border-color: #000000;
}

.button:hover{
    -fx-background-color: #1874CD;
}

.root {
    -fx-background-image: url("../Backgrounds/scroll.jpg");
    -fx-background-size: 1000 800;


}