
.button {
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12Pt;
    -fx-padding: 10px 0px;
    -fx-border-color: #FFFFFF;
    -fx-min-width: 200px;
}

.button:hover{
    -fx-background-color: black;
}

.chatButton {
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12Pt;
    -fx-padding: 10px 0px;
    -fx-border-color: #FFFFFF;
    -fx-min-width: 100px;
}

.chatButton:hover{
    -fx-background-color: black;
}


.userLabel {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12Pt;
    -fx-border-color: #FFFFFF;
    -fx-pref-width: 150;
    -fx-padding: 0px 0px 0px 10px
}

.participateLabel {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12Pt;
    -fx-padding: 14px 20px;
    -fx-border-color: #FFFFFF;
    -fx-pref-width: 150;
}


.ipLabel {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 36Pt;
    -fx-padding: 20px 36px;
    -fx-border-color: #FFFFFF;


}

.text-field {
    -fx-font-size: 12Pt;
    -fx-border-color: #000000;
    -fx-padding: 10px 60px;
}


.root {
    -fx-background-image: url("../Backgrounds/scroll.jpg");
    -fx-background-size: 1000 800;


}