.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-background-insets: 1px;
    -fx-pref-width: 400;
}

.button {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 12Pt;
    -fx-padding: 10px 0px;
    -fx-border-color: black;
    -fx-min-width: 200px;
}

.button:hover{
    -fx-background-color: white;
}

.chatButton {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 12Pt;
    -fx-padding: 10px 0px;
    -fx-border-color: black;
    -fx-min-width: 100px;
}

.chatButton:hover{
    -fx-background-color: white;
}


.userLabel {
    -fx-text-fill: black;
    -fx-font-size: 12Pt;
    -fx-pref-width: 150;
    -fx-padding: 0px 0px 0px 10px
}

.participateLabel {
    -fx-text-fill: black;
    -fx-font-size: 12Pt;
    -fx-padding: 14px 20px;
    -fx-border-color: black;
    -fx-pref-width: 150;
}


.ipLabel {
    -fx-text-fill: black;
    -fx-font-size: 36Pt;
    -fx-padding: 20px 36px;
    -fx-border-color: black;
    -fx-pref-width: 830;
    -fx-alignment: center;


}

.text-field {
    -fx-font-size: 12Pt;
    -fx-border-color: white;
    -fx-padding: 10px 20px;
    -fx-pref-width: 300;
}


.root {
    -fx-background-image: url("../Backgrounds/scroll.jpg");
    -fx-background-size: 1000 800;


}