.button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 12Pt;
    -fx-padding: 10px 0px;
    -fx-border-color: white;
    -fx-min-width: 200px;
}

.button:hover{
    -fx-background-color: black;
}

.combo-box-base {
    -fx-background-color: transparent;
    -fx-border-color: white;


}

.combo-box .cell:selected {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-color: white;

}

.label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 12Pt;
    -fx-padding: 10px 0px;
    -fx-border-color: white;
    -fx-min-width: 200px;
    -fx-alignment: center;
}

.text-field {
    -fx-background-color: white;
    -fx-font-size: 12Pt;
    -fx-padding: 10px 0px;
    -fx-border-color: black;
    -fx-min-width: 200px;
    -fx-alignment: center;
}

.userNameNeeded{
    -fx-background-color: red;
    -fx-font-size: 12Pt;
    -fx-padding: 10px 0px;
    -fx-border-color: black;
    -fx-min-width: 200px;
    -fx-alignment: center;
}


.combo-box{
    fx-background-color: transparent;
    -fx-font-size: 12Pt;
    -fx-padding: 5px 0px;
    -fx-border-color: #000000;
    -fx-min-width: 200px;

}

.musicButtonOn{
    -fx-background-image: url(../musicButton/sound.png);
    -fx-pref-height: 40px;
    -fx-pref-width: 40px;
    -fx-background-repeat: stretch;
}

.musicButtonOff{
    -fx-background-image: url(../musicButton/nosound.png);
    -fx-pref-height: 40px;
    -fx-pref-width: 40px;
    -fx-background-repeat: stretch;
}

.root {
    -fx-background-image: url("../Backgrounds/DominionBox.jpg");
    -fx-background-size: 1000 800;

}

.invisible{
    visibility: hidden;
}

.visible{
    visibility: visible;
}